network:
    version: 2
    ethernets:
        eth0:                                 # Private network interface
            nameservers:
                addresses:
                - 12.48.0.9                # Private IP for ns1
                - 12.48.0.8                # Private IP for ns2
                search: [ test1.energismesand.com ]  # DNS zone
